<div class="span6 dicerole_box">
  <div class="span3">
    <div class="well">
      <h4><i class="icon-expand"></i> 1D100</h4>
      <p>
        <%= button_to('ダイスロール',dices_hundred_path, method: :get, id: :hundred_button, :remote=>true) %>
      </p>
      <p id="hundred">
      </p>
    </div>
  </div>

  <div class="span3">
    <div class="well">
      <h4><i class="icon-expand"></i> 1D20</h4>
      <p>
<%= button_to('ダイスロール',dices_twenty_path, method: :get, id: :twenty_button, :remote=>true) %>
      </p>
      <p id="twenty">
      </p>
    </div>
  </div>

  <div class="span3">
    <div class="well">
      <h4><i class="icon-expand"></i> 1D10</h4>
      <p>
        <%= button_to('ダイスロール',dices_ten_path, method: :get, id: :ten_button, :remote=>true) %>
      </p>
      <p id="ten">
      </p>
    </div>
  </div>

  <div class="span3">
    <div class="well">
      <h4><i class="icon-expand"></i> 1D6</h4>
      <p>
        <%= button_to('ダイスロール',dices_six_path, method: :get, id: :six_button, :remote=>true) %>
      </p>
      <p id="six">
      </p>
    </div>
  </div>

  <div class="span3">
    <div class="well">
      <h4><i class="icon-expand"></i> 1D4</h4>
      <p>
        <%= button_to('ダイスロール',dices_four_path, method: :get, id: :four_button, :remote=>true) %>
      </p>
      <p id="four">
      </p>
    </div>
  </div>

  <div class="span3">
    <div class="well">
      <h4><i class="icon-expand"></i> <select>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="8">8</option>
      </select>D
      <select>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="12">12</option>
        <option value="20">20</option>
        <option value="100">100</option>
      </select>
      </select>
      </h4>
      <p>
        <%= button_to('ダイスロール',"#", method: :get, id: :freedom_button, :remote=>true) %>
      </p>
      <p id="freedom">
      </p>
    </div>
  </div>
</div>

<%= javascript_include_tag 'diccs.js' %>