<div class="main">
  <div class="status">
    <table id="status_table" border="1">
      <tr>
        <th width="100px"></th><th>STR</th><th>CON</th><th>POW</th><th>DEX</th><th>APP</th><th>SIZ</th><th>INT</th>
        <th>EDU</th><th>HP</th><th>MP</th><th>初期SAN</th><th>アイデア</th><th>幸運</th><th>知識</th>
      </tr>
      <tr>
        <td>能力値</td>
        <td id="str"><%= @character.str %></td>
        <td id="con"><%= @character.con %></td>
        <td id="pow"><%= @character.pow %></td>
        <td id="dex"><%= @character.dex %></td>
        <td id="app"><%= @character.app %></td>
        <td id="siz"><%= @character.siz %></td>
        <td id="int"><%= @character.int %></td>
        <td id="edu"><%= @character.edu %></td>
        <td id="hp"><%= ( @character.con + @character.siz ) /2 %></td>
        <td id="mp"><%= @character.pow %></td>
        <td id="san"><%= @character.pow * 5 %></td>
        <td id="idea"><%= @character.int * 5 %></td>
        <td id="luck"><%= @character.pow * 5 %></td>
        <td id="know"><%= @character.edu * 5 %></td>
      </tr>
      <tr>
        <td>その他増加分</td>
        <td><input id="str_inc" type="number" max="99"></td>
        <td><input id="con_inc" type="number" max="99"></td>
        <td><input id="pow_inc" type="number" max="99"></td>
        <td><input id="dex_inc" type="number" max="99"></td>
        <td><input id="app_inc" type="number" max="99"></td>
        <td><input id="siz_inc" type="number" max="99"></td>
        <td><input id="int_inc" type="number" max="99"></td>
        <td><input id="edu_inc" type="number" max="99"></td>
        <td><input id="hp_inc" type="number" max="99"></td>
        <td><input id="mp_inc" type="number" max="99"></td>
        <td><input id="san_inc" type="number" max="99"></td>
        <td><input id="idea_inc" type="number" max="99"></td>
        <td><input id="luck_inc" type="number" max="99"></td>
        <td><input id="know_inc" type="number" max="99"></td>
      </tr>
      <tr>
        <td>一時増減</td>
        <td><input id="str_tmp" type="number" max="99"></td>
        <td><input id="con_tmp" type="number" max="99"></td>
        <td><input id="pow_tmp" type="number" max="99"></td>
        <td><input id="dex_tmp" type="number" max="99"></td>
        <td><input id="app_tmp" type="number" max="99"></td>
        <td><input id="siz_tmp" type="number" max="99"></td>
        <td><input id="int_tmp" type="number" max="99"></td>
        <td><input id="edu_tmp" type="number" max="99"></td>
        <td><input id="hp_tmp" type="number" max="99"></td>
        <td><input id="mp_tmp" type="number" max="99"></td>
        <td><input id="san_tmp" type="number" max="99"></td>
        <td><input id="idea_tmp" type="number" max="99"></td>
        <td><input id="luck_tmp" type="number" max="99"></td>
        <td><input id="know_tmp" type="number" max="99"></td>
      </tr>
      <tr>
        <td>現在値</td>
        <td id="str_sum"></td>
        <td id="con_sum"></td>
        <td id="pow_sum"></td>
        <td id="dex_sum"></td>
        <td id="app_sum"></td>
        <td id="siz_sum"></td>
        <td id="int_sum"></td>
        <td id="edu_sum"></td>
        <td id="hp_sum"></td>
        <td id="mp_sum"></td>
        <td id="san_sum"></td>
        <td id="idea_sum"></td>
        <td id="luck_sum"></td>
        <td id="know_sum"></td>
      </tr>
    </table>
  </div>
  <br>

  <div class="san">
    <table border="1">
      <tr>
        <th>現在SAN値</th>
        <td>/99</td>
        <td>(不定領域:)</td>
      </tr>
    </table>
  </div>

  <br>

  <div class="point">
    <table border="1">
      <tr>
      <th>職業P</th>
        <td>/<%= @character.edu * 20 %></td>
        <td id="pro_sum"></td>
      </tr>
      <tr>
        <th>興味P</th>
        <td>/<%= @character.int * 10 %></td>
        <td>(うち追加分:<input id="ist_sum" type="number" max="99">)</td>
      </tr>
    </table>
  </div>

  <br>


  <label for="skill">戦闘技能</label>
    <div class="skill_buttle">
        <table id="buttle_table" border="1">
          <tr>
            <th>技能名</th>
            <th>初期値</th>
            <th>職業P</th>
            <th>興味P</th>
            <th>成長分</th>
            <th>その他</th>
            <th>合計</th>
          </tr>
          <tr>
            <th>回避</th>
            <td id="avoid"><%= @character.dex * 2 %></td>
            <td><input id="avoid_ist" type="number" max="99"></td>
            <td><input id="avoid_pro" type="number" max="99"></td>
            <td><input type="number" max="99"></td>
            <td><input type="number" max="99"></td>
            <td id="avoid_sum"></td>
          </tr>
          <tr>
            <th>キック</th>
            <td id="kick">25</td>
            <td><input id="kick_ist" type="number" max="99"></td>
            <td><input id="kick_pro" type="number" max="99"></td>
            <td><input type="number" max="99"></td>
            <td><input type="number" max="99"></td>
            <td id="kick_sum"></td>
          </tr>
          <tr>
            <th>組み付き</th>
            <td id="kumituki">25</td>
            <td><input id="kumituki_ist" type="number" max="99"></td>
            <td><input id="kumituki_pro" type="number" max="99"></td>
            <td><input type="number" max="99"></td>
            <td><input type="number" max="99"></td>
            <td id="kumituki_sum"></td>
          </tr>
          <tr>
            <th>こぶし</th>
            <td id="kobusi">50</td>
            <td><input id="kobusi_ist" type="number" max="99"></td>
            <td><input id="kobusi_pro" type="number" max="99"></td>
            <td><input type="number" max="99"></td>
            <td><input type="number" max="99"></td>
            <td id="kobusi_sum"></td>
          </tr>
          <tr>
            <th>頭突き</th>
            <td id="dutuki">10</td>
            <td><input id="dutuki_ist" type="number" max="99"></td>
            <td><input id="dutuki_pro" type="number" max="99"></td>
            <td><input type="number" max="99"></td>
            <td><input type="number" max="99"></td>
            <td id="dutuki_sum"></td>
          </tr>
          <tr>
            <th>投擲</th>
            <td id="touteki">25</td>
            <td><input id="touteki_ist" type="number" max="99"></td>
            <td><input id="touteki_pro" type="number" max="99"></td>
            <td><input type="number" max="99"></td>
            <td><input type="number" max="99"></td>
            <td id="touteki_sum"></td>
          </tr>
          <tr>
            <th>マーシャルアーツ</th>
            <td id="masharu">1</td>
            <td><input id="masharu_ist" type="number" max="99"></td>
            <td><input id="masharu_pro" type="number" max="99"></td>
            <td><input type="number" max="99"></td>
            <td><input type="number" max="99"></td>
            <td id="masharu_sum"></td>
          </tr>
          <tr>
            <th>拳銃</th>
            <td id="kenjyuu">20</td>
            <td><input id="kenjyuu_ist" type="number" max="99"></td>
            <td><input id="kenjyuu_pro" type="number" max="99"></td>
            <td><input type="number" max="99"></td>
            <td><input type="number" max="99"></td>
            <td id="kenjyuu_sum"></td>
          </tr>
          <tr>
            <th>サブマシンガン</th>
            <td id="sabumasi">15</td>
            <td><input id="sabumasi_ist" type="number" max="99"></td>
            <td><input id="sabumasi_pro" type="number" max="99"></td>
            <td><input type="number" max="99"></td>
            <td><input type="number" max="99"></td>
            <td id="sabumasi_sum"></td>
          </tr>
          <tr>
            <th>ショットガン</th>
            <td id="shottogun">30</td>
            <td><input id="shottogun_ist" type="number" max="99"></td>
            <td><input id="shottogun_pro" type="number" max="99"></td>
            <td></td>
            <td></td>
            <td id="shottogun_sum"></td>
          </tr>
          <tr>
            <th>マシンガン</th>
            <td id="masingun">15</td>
            <td><input id="masingun_ist" type="number" max="99"></td>
            <td><input id="masingun_pro" type="number" max="99"></td>
            <td></td>
            <td></td>
            <td id="masingun_sum"></td>
          </tr>
          <tr>
            <th>ライフル</th>
            <td id="raihuru">25</td>
            <td><input id="raihuru_ist" type="number" max="99"></td>
            <td><input id="raihuru_pro" type="number" max="99"></td>
            <td></td>
            <td></td>
            <td id="raihuru_sum"></td>
          </tr>
        </table>
      </div>

      <label for="skill">探索技能</label>
      <div class="skill_search">
        <table id="search_table" border="1">
          <tr>
            <th>技能名</th>
            <th>初期値</th>
            <th>職業P</th>
            <th>興味P</th>
            <th>成長分</th>
            <th>その他</th>
            <th>合計</th>
          </tr>
          <tr>
            <th>応急手当</th>
            <td id="oukyuu">30</td>
            <td><input id="oukyuu_ist" type="number" max="99"></td>
            <td><input id="oukyuu_pro" type="number" max="99"></td>
            <td><input type="number" max="99"></td>
            <td><input type="number" max="99"></td>
            <td id="oukyuu_sum"></td>
          </tr>
          <tr>
            <th>鍵開け</th>
            <td id="kagi">1</td>
            <td><input id="kagi_ist" type="number" max="99"></td>
            <td><input id="kagi_pro" type="number" max="99"></td>
            <td><input type="number" max="99"></td>
            <td><input type="number" max="99"></td>
            <td id="kagi_sum"></td>
          </tr>
          <tr>
            <th>隠す</th>
            <td id="kakusu">15</td>
            <td><input id="kakusu_ist" type="number" max="99"></td>
            <td><input id="kakusu_pro" type="number" max="99"></td>
            <td><input type="number" max="99"></td>
            <td><input type="number" max="99"></td>
            <td id="kakusu_sum"></td>
          </tr>
          <tr>
            <th>隠れる</th>
            <td id="kakureru">10</td>
            <td><input id="kakureru_ist" type="number" max="99"></td>
            <td><input id="kakureru_pro"type="number" max="99"></td>
            <td><input type="number" max="99"></td>
            <td><input type="number" max="99"></td>
            <td></td>
          </tr>
          <tr>
            <th>聞き耳</th>
            <td id="kikimimi">25</td>
            <td><input id="kikimimi_ist" type="number" max="99"></td>
            <td><input id="kikimimi_pro" type="number" max="99"></td>
            <td><input type="number" max="99"></td>
            <td><input type="number" max="99"></td>
            <td id="kikimimi_sum"></td>
          </tr>
          <tr>
            <th>忍び歩き</th>
            <td id="sinobi">10</td>
            <td><input id="sinobi_ist" type="number" max="99"></td>
            <td><input id="sinobi_pro" type="number" max="99"></td>
            <td><input type="number" max="99"></td>
            <td><input type="number" max="99"></td>
            <td id="sinobi_sum"></td>
          </tr>
          <tr>
            <th>写真術</th>
            <td id="shasin">10</td>
            <td><input id="shasin_ist" type="number" max="99"></td>
            <td><input id="shasin_pro" type="number" max="99"></td>
            <td><input type="number" max="99"></td>
            <td><input type="number" max="99"></td>
            <td id="shasin_sum"></td>
          </tr>
          <tr>
            <th>精神分析</th>
            <td id="seisin">1</td>
            <td><input id="seisin_ist" type="number" max="99"></td>
            <td><input id="seisin_pro" type="number" max="99"></td>
            <td><input type="number" max="99"></td>
            <td><input type="number" max="99"></td>
            <td id="seisin_sum"></td>
          </tr>
          <tr>
            <th>追跡</th>
            <td id="tuiseki">10</td>
            <td><input id="tuiseki_ist" type="number" max="99"></td>
            <td><input id="tuiseki_pro" type="number" max="99"></td>
            <td><input type="number" max="99"></td>
            <td><input type="number" max="99"></td>
            <td id="tuiseki_sum"></td>
          </tr>
          <tr>
            <th>登攀</th>
            <td id="touhan">40</td>
            <td><input id="touhan_ist" type="number" max="99"></td>
            <td><input id="touhan_pro" type="number" max="99"></td>
            <td></td>
            <td></td>
            <td id="touhan_sum"></td>
          </tr>
          <tr>
            <th>図書館</th>
            <td id="toshokan">25</td>
            <td><input id="toshokan_ist" type="number" max="99"></td>
            <td><input id="toshokan_pro" type="number" max="99"></td>
            <td></td>
            <td></td>
            <td id="toshokan_sum"></td>
          </tr>
          <tr>
            <th>目星</th>
            <td id="mebosi">25</td>
            <td><input id="mebosi_ist" type="number" max="99"></td>
            <td><input id="mebosi_pro" type="number" max="99"></td>
            <td></td>
            <td></td>
            <td id="mebosi_sum"></td>
          </tr>
        </table>
      </div>

        <label for="skill">行動技能</label>
        <div class="skill_act">
          <table id="act_table" border="1">
            <tr>
              <th>技能名</th>
              <th>初期値</th>
              <th>職業P</th>
              <th>興味P</th>
              <th>成長分</th>
              <th>その他</th>
              <th>合計</th>
            </tr>
            <tr>
              <th>運転</th>
              <td id="unten">20</td>
              <td><input id="unten_ist" type="number" max="99"></td>
              <td><input id="unten_pro" type="number" max="99"></td>
              <td><input type="number" max="99"></td>
              <td><input type="number" max="99"></td>
              <td id="unten_sum"></td>
            </tr>
            <tr>
              <th>機械修理</th>
              <td id="shuri">20</td>
              <td><input id="shuri_ist" type="number" max="99"></td>
              <td><input id="shuri_pro" type="number" max="99"></td>
              <td><input type="number" max="99"></td>
              <td><input type="number" max="99"></td>
              <td id="shuri_sum"></td>
            </tr>
            <tr>
              <th>重機械操作</th>
              <td id="sousa">1</td>
              <td><input id="sousa_ist" type="number" max="99"></td>
              <td><input id="sousa_pro" type="number" max="99"></td>
              <td><input type="number" max="99"></td>
              <td><input type="number" max="99"></td>
              <td id="sousa_sum"></td>
            </tr>
            <tr>
              <th>乗馬</th>
              <td id="jyouba">5</td>
              <td><input id="jyouba_ist" type="number" max="99"></td>
              <td><input id="jyouba_pro" type="number" max="99"></td>
              <td><input type="number" max="99"></td>
              <td><input type="number" max="99"></td>
              <td id="jyouba_sum"></td>
            </tr>
            <tr>
              <th>水泳</th>
              <td id="suiei">25</td>
              <td><input id="suiei_ist" type="number" max="99"></td>
              <td><input id="suiei_pro" type="number" max="99"></td>
              <td><input type="number" max="99"></td>
              <td><input type="number" max="99"></td>
              <td id="suiei_sum"></td>
            </tr>
            <tr>
              <th>製作</th>
              <td id="seisaku">5</td>
              <td><input id="seisaku_ist" type="number" max="99"></td>
              <td><input id="seisaku_pro" type="number" max="99"></td>
              <td><input type="number" max="99"></td>
              <td><input type="number" max="99"></td>
              <td id="seisaku_sum"></td>
            </tr>
            <tr>
              <th>操縦</th>
              <td id="soujyuu">1</td>
              <td><input id="soujyuu_ist" type="number" max="99"></td>
              <td><input id="soujyuu_pro" type="number" max="99"></td>
              <td><input type="number" max="99"></td>
              <td><input type="number" max="99"></td>
              <td id="soujyuu_sum"></td>
            </tr>
            <tr>
              <th>跳躍</th>
              <td id="tyouyaku">25</td>
              <td><input id="tyouyaku_ist" type="number" max="99"></td>
              <td><input id="tyouyaku_pro" type="number" max="99"></td>
              <td><input type="number" max="99"></td>
              <td><input type="number" max="99"></td>
              <td id="tyouyaku_sum"></td>
            </tr>
            <tr>
              <th>電気修理</th>
              <td id="denki">10</td>
              <td><input id="denki_ist" type="number" max="99"></td>
              <td><input id="denki_pro" type="number" max="99"></td>
              <td><input type="number" max="99"></td>
              <td><input type="number" max="99"></td>
              <td id="denki_sum"></td>
            </tr>
            <tr>
              <th>ナビゲート</th>
              <td id="nabi">10</td>
              <td><input id="nabi_ist" type="number" max="99"></td>
              <td><input id="nabi_pro" type="number" max="99"></td>
              <td></td>
              <td></td>
              <td id="nabi_sum"></td>
            </tr>
            <tr>
              <th>変装</th>
              <td id="hensou">1</td>
              <td><input id="hensou_ist" type="number" max="99"></td>
              <td><input id="hensou_pro" type="number" max="99"></td>
              <td></td>
              <td></td>
              <td id="hensou_sum"></td>
            </tr>
          </table>
        </div>

          <label for="skill">交渉技能</label>
          <div class="skill_neg">
            <table id="neg_table" border="1">
              <tr>
                <th>技能名</th>
                <th>初期値</th>
                <th>職業P</th>
                <th>興味P</th>
                <th>成長分</th>
                <th>その他</th>
                <th>合計</th>
              </tr>
              <tr>
                <th>言いくるめ</th>
                <td id="iiku">5</td>
                <td><input id="iiku_ist" type="number" max="99"></td>
                <td><input id="iiku_pro" type="number" max="99"></td>
                <td><input type="number" max="99"></td>
                <td><input type="number" max="99"></td>
                <td id="iiku_sum"></td>
              </tr>
              <tr>
                <th>信用</th>
                <td id="sinyou">15</td>
                <td><input id="sinyou_ist" type="number" max="99"></td>
                <td><input id="sinyou_pro" type="number" max="99"></td>
                <td><input type="number" max="99"></td>
                <td><input type="number" max="99"></td>
                <td id="sinyou_sum"></td>
              </tr>
              <tr>
                <th>説得</th>
                <td id="settoku">15</td>
                <td><input id="settoku_ist" type="number" max="99"></td>
                <td><input id="settoku_pro" type="number" max="99"></td>
                <td><input type="number" max="99"></td>
                <td><input type="number" max="99"></td>
                <td id="settoku_sum"></td>
              </tr>
              <tr>
                <th>値切り</th>
                <td id="negiri">5</td>
                <td><input id="negiri_ist" type="number" max="99"></td>
                <td><input id="negiri_pro" type="number" max="99"></td>
                <td><input type="number" max="99"></td>
                <td><input type="number" max="99"></td>
                <td id="negiri_sum"></td>
              </tr>
              <tr>
                <th>母国語</th>
                <td id="native">20</td>
                <td><input id="native_ist" type="number" max="99"></td>
                <td><input id="native_pro" type="number" max="99"></td>
                <td><input type="number" max="99"></td>
                <td><input type="number" max="99"></td>
                <td id="native_sum"></td>
              </tr>
              <tr>
                <th>　</th>
                <td>1</td>
                <td><input type="number" max="99"></td>
                <td><input type="number" max="99"></td>
                <td><input type="number" max="99"></td>
                <td><input type="number" max="99"></td>
                <td></td>
              </tr>
              <tr>
                <th>　</th>
                <td>1</td>
                <td><input type="number" max="99"></td>
                <td><input type="number" max="99"></td>
                <td><input type="number" max="99"></td>
                <td><input type="number" max="99"></td>
                <td></td>
              </tr>
            </table>
          </div>

            <label for="skill">知識技能</label>
            <div class="skill_know">
              <table id="know_table" border="1">
                <tr>
                  <th>技能名</th>
                  <th>初期値</th>
                  <th>職業P</th>
                  <th>興味P</th>
                  <th>成長分</th>
                  <th>その他</th>
                  <th>合計</th>
                </tr>
                <tr>
                  <th>医学</th>
                  <td id="igaku">5</td>
                  <td><input id="igaku_ist" type="number" max="99"></td>
                  <td><input id="igaku_pro" type="number" max="99"></td>
                  <td><input type="number" max="99"></td>
                  <td><input type="number" max="99"></td>
                  <td id="igaku_sum"></td>
                </tr>
                <tr>
                  <th>オカルト</th>
                  <td id="okaruto">5</td>
                  <td><input id="okaruto_ist" type="number" max="99"></td>
                  <td><input id="okaruto_pro" type="number" max="99"></td>
                  <td><input type="number" max="99"></td>
                  <td><input type="number" max="99"></td>
                  <td id="okaruto_sum"></td>
                </tr>
                <tr>
                  <th>化学</th>
                  <td id="kagaku">1</td>
                  <td><input id="kagaku_ist" type="number" max="99"></td>
                  <td><input is="kagaku_pro" type="number" max="99"></td>
                  <td><input type="number" max="99"></td>
                  <td><input type="number" max="99"></td>
                  <td id="kagaku_sum"></td>
                </tr>
                <tr>
                  <th>クトゥルフ神話</th>
                  <td id="coc">0</td>
                  <td><input id="coc_ist" type="number" max="99"></td>
                  <td><input id="coc_pro" type="number" max="99"></td>
                  <td><input type="number" max="99"></td>
                  <td><input type="number" max="99"></td>
                  <td id="coc_sum"></td>
                </tr>
                <tr>
                  <th>芸術</th>
                  <td id="art">5</td>
                  <td><input id="art_ist" type="number" max="99"></td>
                  <td><input id="art_pro" type="number" max="99"></td>
                  <td><input type="number" max="99"></td>
                  <td><input type="number" max="99"></td>
                  <td id="art_sum"></td>
                </tr>
                <tr>
                  <th>経理</th>
                  <td id="keiri">10</td>
                  <td><input id="keiri_ist" type="number" max="99"></td>
                  <td><input id="keiri_pro" type="number" max="99"></td>
                  <td><input type="number" max="99"></td>
                  <td><input type="number" max="99"></td>
                  <td id="keiri_sum"></td>
                </tr>
                <tr>
                  <th>考古学</th>
                  <td id="kouko">1</td>
                  <td><input id="kouko_ist" type="number" max="99"></td>
                  <td><input id="kouko_pro" type="number" max="99"></td>
                  <td><input type="number" max="99"></td>
                  <td><input type="number" max="99"></td>
                  <td id="kouko_sum"></td>
                </tr>
                <tr>
                  <th>コンピューター</th>
                  <td id="comp">1</td>
                  <td><input id="comp_ist" type="number" max="99"></td>
                  <td><input id="comp_pro" type="number" max="99"></td>
                  <td><input type="number" max="99"></td>
                  <td><input type="number" max="99"></td>
                  <td id="comp_sum"></td>
                </tr>
                <tr>
                  <th>心理学</th>
                  <td id="sinri">5</td>
                  <td><input id="sinri_ist" type="number" max="99"></td>
                  <td><input id="sinri_pro" type="number" max="99"></td>
                  <td><input type="number" max="99"></td>
                  <td><input type="number" max="99"></td>
                  <td id="sinri_sum"></td>
                </tr>
                <tr>
                  <th>人類学</th>
                  <td id="human">1</td>
                  <td><input id="human_ist" type="number" max="99"></td>
                  <td><input id="human_pro" type="number" max="99"></td>
                  <td></td>
                  <td></td>
                  <td id="human_sum"></td>
                </tr>
                <tr>
                  <th>生物学</th>
                  <td id="seibutu">1</td>
                  <td><input id="seibutu_ist" type="number" max="99"></td>
                  <td><input id="seibutu_pro" type="number" max="99"></td>
                  <td></td>
                  <td></td>
                  <td id="seibutu_sum"></td>
                </tr>
                <tr>
                  <th>地質学</th>
                  <td id="tisitu">1</td>
                  <td><input id="tisitu_ist" type="number" max="99"></td>
                  <td><input id="tisitu_pro" type="number" max="99"></td>
                  <td></td>
                  <td></td>
                  <td id="tisitu_sum"></td>
                </tr>
                <tr>
                  <th>電子工学</th>
                  <td id="densi">1</td>
                  <td><input id="densi_ist" type="number" max="99"></td>
                  <td><input id="densi_pro" type="number" max="99"></td>
                  <td><input type="number" max="99"></td>
                  <td><input type="number" max="99"></td>
                  <td id="densi_sum"></td>
                </tr>
                <tr>
                  <th>天文学</th>
                  <td id="tenmon">1</td>
                  <td><input id="tenmon_ist" type="number" max="99"></td>
                  <td><input id="tenmon_pro" type="number" max="99"></td>
                  <td><input type="number" max="99"></td>
                  <td><input type="number" max="99"></td>
                  <td id="tenmon_sum"></td>
                </tr>
                <tr>
                  <th>博物学</th>
                  <td id="hakubutu">10</td>
                  <td><input id="hakubutu_ist" type="number" max="99"></td>
                  <td><input id="hakubutu_pro" type="number" max="99"></td>
                  <td><input type="number" max="99"></td>
                  <td><input type="number" max="99"></td>
                  <td id="hakubutu_sum"></td>
                </tr>
                <tr>
                  <th>物理学</th>
                  <td id="buturi">1</td>
                  <td><input id="buturi_ist" type="number" max="99"></td>
                  <td><input id="buturi_pro" type="number" max="99"></td>
                  <td><input type="number" max="99"></td>
                  <td><input type="number" max="99"></td>
                  <td id="buturi_sum"></td>
                </tr>
                <tr>
                  <th>法律</th>
                  <td id="houritu">5</td>
                  <td><input id="houritu_ist" type="number" max="99"></td>
                  <td><input id="houritu_pro" type="number" max="99"></td>
                  <td></td>
                  <td></td>
                  <td id="houritu_sum"></td>
                </tr>
                <tr>
                  <th>薬学</th>
                  <td id="yakugaku">1</td>
                  <td><input id="yakugaku_ist" type="number" max="99"></td>
                  <td><input id="yakugaku_pro" type="number" max="99"></td>
                  <td></td>
                  <td></td>
                  <td id="yakugaku_sum"></td>
                </tr>
                <tr>
                  <th>歴史</th>
                  <td id="rekisi">20</td>
                  <td><input id="rekisi_ist" type="number" max="99"></td>
                  <td><input id="rekisi_pro" type="number" max="99"></td>
                  <td></td>
                  <td></td>
                  <td id="rekisi_sum"></td>
                </tr>
              </table>
    </div>
    <br>
  <%= form_for @character , :url => {:controller => 'characters',:action => 'create'} do |f| %>
    <%= f.text_field :name, placeholder: 'nameを入力してください' %>
    <%= f.hidden_field :str, :value => @character.str%>
    <%= f.hidden_field :con, :value => @character.con%>
    <%= f.hidden_field :pow, :value => @character.pow%>
    <%= f.hidden_field :dex, :value =>  @character.dex%>
    <%= f.hidden_field :app, :value =>  @character.app%>
    <%= f.hidden_field :siz, :value =>  @character.siz%>
    <%= f.hidden_field :int, :value =>  @character.int%>
    <%= f.hidden_field :edu, :value =>  @character.edu%>
    <%= f.hidden_field :avoid, :value => @character.dex*2 %>
    <%= f.hidden_field :kick, :value => 25 %>
    <%= f.hidden_field :kumituki, :value => 25 %>
    <%= f.hidden_field :kobusi, :value => 50 %>
    <%= f.hidden_field :dutuki, :value => 10 %>
    <%= f.hidden_field :touteki, :value => 25 %>
    <%= f.hidden_field :masharu, :value => 1 %>
    <%= f.hidden_field :kenjyuu, :value => 20 %>
    <%= f.hidden_field :sabumasi, :value => 15 %>
    <%= f.hidden_field :shottogun, :value => 30 %>
    <%= f.hidden_field :masingun, :value => 15 %>
    <%= f.hidden_field :raihuru, :value => 25 %>
    <%= f.hidden_field :oukyuu, :value => 30 %>
    <%= f.hidden_field :kagi, :value => 1 %>
    <%= f.hidden_field :kakusu, :value => 15 %>
    <%= f.hidden_field :kakureru, :value => 10 %>
    <%= f.hidden_field :sinobi, :value => 10 %>
    <%= f.hidden_field :shasin, :value => 10 %>
    <%= f.hidden_field :seisin, :value => 1 %>
    <%= f.hidden_field :tuiseki, :value => 10 %>
    <%= f.hidden_field :touhan, :value => 40 %>
    <%= f.hidden_field :toshokan, :value => 25 %>
    <%= f.hidden_field :kikimimi, :value => 25 %>
    <%= f.hidden_field :mebosi, :value => 25 %>
    <%= f.hidden_field :unten, :value => 20 %>
    <%= f.hidden_field :shuri, :value => 20 %>
    <%= f.hidden_field :sousa, :value => 1 %>
    <%= f.hidden_field :jyouba, :value => 5 %>
    <%= f.hidden_field :suiei, :value => 25 %>
    <%= f.hidden_field :seisaku, :value => 5 %>
    <%= f.hidden_field :soujyuu, :value => 1 %>
    <%= f.hidden_field :tyouyaku, :value => 25 %>
    <%= f.hidden_field :denki, :value => 10 %>
    <%= f.hidden_field :nabi, :value => 10 %>
    <%= f.hidden_field :hensou, :value => 1 %>
    <%= f.hidden_field :iiku, :value => 5 %>
    <%= f.hidden_field :sinyou, :value => 15 %>
    <%= f.hidden_field :settoku , :value => 15 %>
    <%= f.hidden_field :negiri, :value => 5 %>
    <%= f.hidden_field :native, :value => @character.edu*5 %>
    <%= f.hidden_field :first, :value => 1 %>
    <%= f.hidden_field :second, :value => 1 %>
    <%= f.hidden_field :igaku, :value => 5 %>
    <%= f.hidden_field :okaruto, :value => 5 %>
    <%= f.hidden_field :kagaku, :value => 1 %>
    <%= f.hidden_field :coc, :value => 0 %>
    <%= f.hidden_field :art, :value => 5 %>
    <%= f.hidden_field :keiri, :value => 10 %>
    <%= f.hidden_field :kouko, :value => 1 %>
    <%= f.hidden_field :comp, :value => 1 %>
    <%= f.hidden_field :sinri, :value => 5 %>
    <%= f.hidden_field :human, :value => 1 %>
    <%= f.hidden_field :seibutu, :value => 1 %>
    <%= f.hidden_field :tisitu, :value => 1 %>
    <%= f.hidden_field :densi, :value => 1 %>
    <%= f.hidden_field :tenmon, :value => 1 %>
    <%= f.hidden_field :hakubutu , :value => 10 %>
    <%= f.hidden_field :buturi, :value => 1 %>
    <%= f.hidden_field :houritu, :value => 5 %>
    <%= f.hidden_field :yakugaku, :value => 1 %>
    <%= f.hidden_field :rekisi, :value => 20 %>

    <%= f.submit %>
  <% end %>
  </div>
<%= javascript_include_tag 'skill_change.js' %>